

 .masthead {
  background-image: url('../img/bike.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30%;
  position: fixed;
  line-height: 60px;
  margin: 0 auto;
  height: 200px;
  left: 0;
  top: 0;
 }

.masthead-name {
  padding-top: 1.4em;
  padding-left: .5em;
  color: black;
  font-size: 4em;
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  text-align: left;
  line-height: -3em;
  position: fixed;
  text-shadow: 0px 2px 2px #555;
  white-space: nowrap;

}

#container {
  margin: 0 auto;
  overflow: auto;
}

body {
  background-color: #EEE9E9;
  margin: 0;
  padding: 0;
}

.small {
  font-size: .6em;
  font-weight: 300;
  color: #FADDAF;
  text-shadow: 0px 2px 2px #555;
}

.projects {
   width:100%; 
   margin:5px auto;
   padding-top: 0 auto;
}
.footer {
  background-color: #E87F60;
  margin: 0 auto;
  width: 940px;
  text-align: center;
}

h2 {
  font-family: 'Lato';
  font-weight: 300;
  padding: 1em;
  font-size: 1em;
  position: center;
  white-space: nowrap;
}

#footer-container {
  background: #E87F60;
  bottom: 0;
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
}

ul {
  font-family: 'Lato';
  font-weight: 300;
  padding: 3px;
  position: fixed;
  white-space: nowrap; 

}

li {
  display: inline;
  padding: 80px;
  max-width: 100%;
  white-space: nowrap; 

}

